@import "../globalStyles/variable.scss";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #555;
  height: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  display: block;
  width: 10px;
}

body {
  font-family: $font-Inter;
}

html #light {
  background-color: $light-bg-body;
  transition: 0.3s background-color;
}
html #dark {
  background-color: $dark-bg-body;
  transition: 0.3s background-color;
}

//light mode

//light mode button tags
#light button {
  &:enabled {
    display: inline-block;
    // background: rgba(0, 0, 255, 0.575);
    background-color: $light-bg;
    border: 1px solid darken($light-bg, 5%);
    padding: 0.5em 2em;
    color: white;
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);
  }
  &:hover {
    background: lighten($light-bg, 5%);
    cursor: pointer;
  }
  &:active {
    background: $light-bg;
    box-shadow: inset 0px 1px 1px fadeout(black, 90%);
  }
  &:focus {
    outline: none;
  }

  &:disabled {
    display: inline-block;
    // background: rgba(0, 0, 255, 0.144);
    border: 1px solid darken(rgb(255, 255, 255), 5%);
    padding: 0.5em 2em;
    color: gray;
    background-color: darken($light-bg, 20%);
    border: none;
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);

    &:hover {
      cursor: not-allowed;
    }
  }
}

.input-color-white {
  background-color: aqua;
}

//darkmode

#dark .dark-text-color-black {
  color: black;
}
#dark .dark-text-color-white {
  color: rgb(247, 247, 247);
}

//dark mode a tags
#dark a {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

//dark mode label tags
#dark label {
  color: white;
}

//dark mode li tags
#dark li {
  color: white;
}

//dark mode svg taggs
#dark svg {
  color: white;
}

//dark mode p tags
#dark p {
  color: white;
}

//dark mode h3 tags
#dark h3 {
  color: black;
}

//dark mode button tags
#dark button {
  &:enabled {
    display: inline-block;
    // background: rgba(0, 0, 255, 0.575);
    // background-color: $light-bg;
    background-color: rgb(49, 46, 46);
    border: 1px solid darken(rgb(49, 46, 46), 5%);
    padding: 0.5em 2em;
    color: white;
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);
  }
  &:hover {
    // background: lighten($light-bg, 5%);
    background: lighten(rgb(51, 48, 48), 5%);
    cursor: pointer;
  }
  &:active {
    background: rgb(49, 46, 46);
    box-shadow: inset 0px 1px 1px fadeout(black, 90%);
  }
  &:focus {
    outline: none;
  }

  &:disabled {
    display: inline-block;
    // background: rgba(0, 0, 255, 0.144);
    border: 1px solid darken(rgb(255, 255, 255), 5%);
    padding: 0.5em 2em;
    color: rgba(128, 128, 128, 0.247);
    // background-color: darken($light-bg, 20%);
    background-color: darken(rgb(49, 46, 46), 10%);

    border: none;
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);

    &:hover {
      cursor: not-allowed;
    }
  }
}
// #dark button[disabled] {
//   color: gray;
//   background-color: darken($light-bg, 20%);
//   border: none;
// }

//dark mode h2 tags
#dark h2:not(#cart__h2) {
  color: white;
}

//dark mode input tags
#dark input {
  color: white;
  background-color: transparent;
}
#dark .dark-input-text-color-black {
  color: black;
}

//dark mode div tags
#dark .dark-div-border {
  border-bottom: 1px dotted white;
}
#dark .dark-div-bg {
  background-color: rgb(51, 48, 48);
}
#dark .dark-div-shadow {
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 0px 1px 0.5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
}
#dark .dark-div-border-btm {
  border-bottom: 1px solid white;
}

//dark mode select tags
#dark .dark-select-bg {
  background-color: black;
}

#dark select {
  color: white;
}

//dark mode option tags
#dark .dark-option-text-color {
  color: white;
}
#dark option {
  color: black;
}

#dark .border-none {
  border: none;
}
