@import "../../globalStyles/variable.scss";

body {
  margin: 0;
}
.container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0px;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.26);
  .image__wrapper {
    display: flex;
    width: 100%;
    position: relative;
    height: 472px;
    overflow: hidden;
    @include breakpoint(sm) {
      height: 200px;
    }
    & > ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .play__icon {
      cursor: pointer;
      z-index: 2;
      position: absolute;
      right: 0.6rem;
      top: 2%;
      font-size: 30px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      @include breakpoint(sm) {
        top: 5%;
      }
    }
    .slide {
      list-style: none;
      width: 100%;
      position: absolute;
      inset: 0;
      opacity: 0;
      padding: 10px;
      transition: 200ms opacity ease-in-out 0.5s;

      & > img {
        width: 100%;
        height: 472px;
        object-fit: cover;

        @include breakpoint(sm) {
          height: 200px;
        }
      }
    }

    .current__slide__right {
      opacity: 1;
      transform-origin: center;
      transition: 200ms opacity ease-in-out;
      animation: slide_right 500ms;
    }
    .current__slide__left {
      opacity: 1;
      transition: 200ms opacity ease-in-out;
      animation: slide_left 500ms;
      transform-origin: center;
    }

    @keyframes slide_right {
      0% {
        opacity: 0;
        transform: translateX(50%);
      }
      100% {
        opacity: 1;
        transform: translateX(0%);
      }
    }
    @keyframes slide_left {
      1% {
        opacity: 0;
        transform: translateX(-50%);
      }
      100% {
        opacity: 1;
        transform: translateX(0%);
      }
    }

    .left__arrow {
      position: absolute;
      left: 0.6rem;
      z-index: 2;
      color: rgba(0, 0, 0, 0.747);
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 50px;
      background-color: rgba(0, 0, 0, 0.041);
      height: 20%;
      transition: 0.5s background-color;
      &:hover {
        background-color: rgba(0, 0, 0, 0.507);
        transition: 0.5s background-color;
      }
    }
    .right__arrow {
      position: absolute;
      right: 0.6rem;
      z-index: 2;
      color: rgba(0, 0, 0, 0.747);
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 50px;
      background-color: rgba(0, 0, 0, 0.041);
      height: 20%;
      transition: 0.5s background-color;
      &:hover {
        background-color: rgba(0, 0, 0, 0.507);
        transition: 0.5s background-color;
      }
    }
  }
}
