@import "../../globalStyles/variable.scss";
.content__container {
  margin-top: 10px;
  min-height: 100%;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  row-gap: 60px;

  @include breakpoint(xl) {
    display: grid;
    width: 100%;
    gap: 50px;
    grid-template-columns: repeat(3, 250px);
  }
  @include breakpoint(md_900px) {
    display: grid;
    width: 100%;
    gap: 50px;
    grid-template-columns: repeat(2, 250px);
  }
  @include breakpoint(sm) {
    display: grid;
    width: 100%;
    gap: 50px;
    grid-template-columns: repeat(1, 250px);
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    // background-color: rgb(163, 206, 192);
    background-color: white;
    box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.43);
    transition: 0.5s transform;

    &:hover {
      transition: 0.5s transform;
      transform: scale(1.02);
      // rotate(0.5deg)
      // &::before {
      //   content: "";
      //   background-color: white;
      //   position: absolute;
      //   top: 1%;
      //   height: 12px;
      //   width: 12px;
      //   border-radius: 50%;
      //   display: flex;
      // }
    }
    .container {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      & > div {
        &:nth-child(1) {
          & > img {
            width: 100%;
            height: 200px;
            object-fit: contain;
          }
          &:hover {
            cursor: pointer;

            & > p {
              text-decoration: underline;
            }
          }
        }
        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 15px;

          @include breakpoint(sm) {
            .add__cart__icon {
              display: none;
            }
          }

          .top {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          .bottom {
            text-align: center;
          }

          .wishlist__icon {
            position: absolute;
            bottom: 0;
            left: 0;
            &:hover {
              cursor: pointer;
            }
          }

          .add__cart__icon {
            position: absolute;
            bottom: 0;
            right: 0;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.list__view {
  margin-top: 10px;
  min-height: 100%;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  // grid-template-columns: repeat(1, auto);
  // justify-content: flex-start;
  // grid-template-rows: repeat(8, 250px);
  // align-items: flex-start;
  // gap: 50px;
  // row-gap: 60px;
  gap: 50px;

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    text-align: center;
    text-decoration: none;

    // background-color: rgb(163, 206, 192);
    background-color: white;
    box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.43);
    transition: 0.5s transform;
    .container {
      display: flex;
      flex-direction: row;
      gap: 20px;

      & > div {
        &:nth-child(1) {
          padding: 10px;
          display: flex;
          gap: 50px;

          position: relative;
          & > img {
            width: 250px;
            cursor: pointer;
            height: 250px;
            object-fit: contain;
          }
        }
        &:nth-child(2) {
          padding: 15px;
          display: flex;
          position: relative;
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          gap: 50px;

          .top {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .product__title {
              top: auto;
              width: 90%;
              white-space: pre-wrap;
              text-align: start;
              cursor: pointer;
            }
          }

          .wishlist__icon {
            position: absolute;
            right: 1%;

            &:hover {
              cursor: pointer;
            }
          }

          .add__cart__icon {
            position: absolute;
            right: 1%;
            bottom: 2%;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
